header{
  height: 65px;
  width: 100%;
  background-color: rgba(210, 105, 30, 0.3);
  position: fixed;
  top: 0;
  z-index: 10;
}

a {
  text-decoration: none;
}

.logo{
  opacity: 0.7;
  width: 124px;
  margin-top: 20px;
}

/* ログインボタンの編集 */
.header-left{
  float: left;
}

.header-right{
  float: right;
  background-color: rgba(210, 105, 30, 0.3);
  transition: all 0.5s;
}

.header-right:hover{
  background-color: rgba(210, 105, 30, 0.5);
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

/* トップ画面メッセージの編集 */
.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(../practice-image/kyoto.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p{
  opacity: 0.7;
}

/* containerの編集 */
.container{
  width: auto;
  /* height: 600px; */
  margin: 0 auto;
}

body{
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/* 登録ボタンの編集 */
.btn{
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.signup{
  background-color: yellowgreen;
}
.facebook{
  background-color: blue;
  margin-right: 10px;
}
.twitter{
  background-color: cadetblue;
}
.btn-wrapper{
  margin: 20px 0;
}
.btn-wrapper p{
  margin-top: 10px 0 10px 0;
}
.btn:hover{
  opacity: 1;
}
.fa{
  margin-right: 5px;
}

/* photo collectionsの編集 */
.picture-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.heading{
  padding: 60px 0 30px 0;
  color: #5f5d60;
}
.heading h2{
  font-weight: normal;
}

/* pictureの編集 */
.picture{
  float: left;
  width: 25%;
}
.images{
  width: 50%;
  height: 200px;
  border-radius: 175px;
}
.picture-wrapper{
  text-align: center;
}
.picture-icon{
  position: relative;
}

.picture-icon p{
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

.message{
  background-color: rgba(255, 102, 0, 0.993);
  padding: 15px 40px; 
  cursor: pointer;
  box-shadow: 0 7px rgba(255, 102, 0, 0.699);
}

.message:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}

.heading h3{
  font-weight: normal;
}
.message-wrapper{
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

footer p{
  color: #b3aeb5;
  font-size: 12px;
}

footer{
  padding-top: 30px;
  padding-left: 200px;
}

footer img{
  width: 125px;
  height: auto;
}